
[Bb]in/
[Oo]bj/
[Aa]rm/
[Aa]rm64/
[Xx]64/
[Xx]86/
/build/


.idea/
*.sln.iml
/shelf/
/workspace.xml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/httpRequests/
/dataSources/
/dataSources.local.xml


.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.doccache
*.stackdump


*.nupkg

packages/
project.lock.json
project.fragment.lock.json


.DS_Store
Thumbs.db
desktop.ini


*.tmp
*.log
*.swp